
@{
    ViewBag.Title = "Hướng dẫn chọn size";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/policy.css" rel="stylesheet" />
<div class="container-detail">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">
        <div class="d-flex justify-content-between align-items-stretch right-column-detail">
            <div class="main-news-detail row">
                <div class="col-xl-12">
                    <h3 class="gr-title-news">HƯỚNG DẪN</h3>
                    <h4><strong>Hướng dẫn chọn size Giày dép</strong></h4>

                    <p><strong> Hướng dẫn cách đo chân và chọn Size giày dép, giày cao gót, giày sandal chuẩn với cỡ chân của bạn </strong></p>
                </div>
                <div class="col-lg-12" id="detail-news">
                    <blockquote style="text-align:left;"><p>Với các cách đo chân để chọn size giày Sablanca, bạn dễ dàng chọn được kích thước giày chuẩn nhất cho chân của mình, cách đo này phù hợp với tất cả các cách chọn size cho giày cao gót, giày sandal, dép kẹp, sneaker...</p><h2><span style="font-size:x-large;">I. Cách đo size giày nữ cơ bản</span></h2><p>Để biết cỡ chân của bạn phù hợp với size giày bao nhiêu của Sablanca, bạn hãy thực hiện cách đo như sau</p><p>Để đo chiều dài chân bạn đánh dấu 2 điểm bao gồm điểm đầu ngón chân và điểm cuối của gót chân bằng bút. Sau đó dùng thước kẻ để đo lại chiều dài của hai điểm này. Từ chiều dài chân thì cơ bản bạn đã có thể xác định được size giày dép của mình theo bảng quy đổi size giày dép nữ Sablanca dưới đây.</p><p><img src="https://cdn.sablanca.vn/ImageNews/huong-dan-chon-size-giay-dep.jpg" alt="" style="display:block;margin-left:auto;margin-right:auto;"></p><p><br></p></blockquote><h2 style="text-align:left;"><strong><span style="font-size:x-large;">II. Hướng dẫn cách đo chân chọn Size giày chuẩn nhất</span></strong><br></h2><h3><span style="font-size:large;">1. Cách vẽ và đo chiều dài chân, chiều rộng khớp ngón, chu vi khớp ngón</span></h3><p>Để chọn Size giày chính xác và mang vừa nhất với đôi chân của mình, bạn không những chỉ đo chiều dài của bàn chân mà còn phải quan tâm đến chiều rộng chân và chu vi khớp ngón chân.</p><p>&nbsp;</p><p><img src="https://cdn.sablanca.vn/ImageNews/5b657eef8bb268ec31a3.jpg" alt="huong-dan-chon-size-giay-dep" width="700" style="display:block;margin-left:auto;margin-right:auto;"></p><h3><span style="font-size:large;">2. Kích thước chân chọn Size giày Sablanca</span><br></h3><table style="width:100%;font-weight:700;color:#000;">
                        <tbody>
                            <tr style="background:#ffff01;">
                                <td style="width:25%;border:1px solid;text-align:center;">Size VN</td>
                                <td style="width:25%;text-align:center;border:1px solid;">
                                    Chiều dài chân - D<br>(mm)
                                </td>
                                <td style="width:25%;text-align:center;border:1px solid;">
                                    Chiều rộng khớp ngón - R<br>(mm)
                                </td>
                                <td style="width:25%;text-align:center;border:1px solid;">
                                    Chu vi khớp ngón - M<br>(mm)
                                </td>
                            </tr>
                            <tr style="height:14.5985%;"><td style="width:25%;border:1px solid;text-align:center;">35</td><td style="width:25%;text-align:center;border:1px solid;">216.8</td><td style="width:25%;text-align:center;border:1px solid;">86.4</td><td style="width:25%;text-align:center;border:1px solid;">211</td></tr>
                            <tr style="height:14.5985%;"><td style="width:25%;border:1px solid;text-align:center;">36</td><td style="width:25%;text-align:center;border:1px solid;">223.4</td><td style="width:25%;text-align:center;border:1px solid;">88</td><td style="width:25%;text-align:center;border:1px solid;">216</td></tr>
                            <tr style="height:14.5985%;"><td style="width:25%;border:1px solid;text-align:center;">37</td><td style="width:25%;text-align:center;border:1px solid;">230</td><td style="width:25%;text-align:center;border:1px solid;">89.6</td><td style="width:25%;text-align:center;border:1px solid;">221</td></tr>
                            <tr style="height:16.7883%;"><td style="width:25%;border:1px solid;text-align:center;">38</td><td style="width:25%;text-align:center;border:1px solid;">236.6</td><td style="width:25%;text-align:center;border:1px solid;">91.2</td><td style="width:25%;text-align:center;border:1px solid;">226</td></tr>
                            <tr style="height:14.5985%;"><td style="width:25%;border:1px solid;text-align:center;">39</td><td style="width:25%;text-align:center;border:1px solid;">243.2</td><td style="width:25%;text-align:center;border:1px solid;">92.8</td><td style="width:25%;text-align:center;border:1px solid;">231</td></tr>
                        </tbody>
                    </table><p>&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="detail-left">
            
        </div>
    </div>
</div>
