
@{
    ViewBag.Title = "Giới thiệu công ty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/policy.css" rel="stylesheet" />
<div class="container-detail">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">
        <div class="d-flex justify-content-between align-items-stretch right-column-detail">
            <div class="main-news-detail row">
                <div class="col-xl-12">
                    <h3 class="gr-title-news">GIỚI THIỆU</h3>

                    <h4><strong>GIỚI THIỆU SABLANCA</strong></h4>

                    <p><strong> SABLANCA là công ty sản xuất, kinh doanh chuỗi cửa hàng thời trang cao cấp về giày dép, túi xách, ba lô,… dành cho phái nữ </strong></p>
                </div>
                <div class="col-lg-12" id="detail-news">
                    <p>SABLANCA là tên gọi tắt của CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI DỊCH VỤ SABLANCA, một công ty sản xuất, kinh doanh chuỗi cửa hàng thời trang cao cấp về giày dép, túi xách, ba lô,… dành cho phái nữ. Được thành lập vào năm 2016, trải qua bao thăng trầm Sablanca đã và đang trên con đường phát triển mạnh mẽ với hệ thống cửa hàng trải dài trên đất nước Việt Nam.<br><br>&nbsp; Các sản phẩm của Sablanca được sản xuất gia công tại xưởng dưới bàn tay của những người thợ có nhiều năm kinh nghiệm trong nghề, tâm huyết và tỉ mỉ trong từng khâu từ khảo sát, thiết kế mẫu, tạo form dáng, lựa chọn nguyên vật liệu và sản xuất theo đúng trình tự tiêu chuẩn quốc tế để xứng đáng với - sản phẩm Việt dành cho người Việt. Mang đến sự thoải mái, tiện ích khi sử dụng, luôn toát lên vẻ đẹp thanh lịch tựa như nét đẹp của của con gái Á Đông.</p><h2><strong><span style="font-size:large;">Mục tiêu</span></strong></h2><p>Với mục tiêu phát triển cùng phương châm tôn vinh vẻ đẹp người phụ nữ bằng những sản phẩm mang xu hướng thời trang quốc tế để mỗi khách hàng khi sở hữu đều cảm nhận được sự êm ái, thoải mái và tự tin khẳng định đẳng cấp thời trang cá nhân.</p><h2><span style="font-size:large;"><strong>Tầm nhìn &amp; sứ mệnh</strong></span></h2><p>Sứ mệnh của Sablanca chính là mang tới sự thoải mái và tiện ích trên từng bước chân của người phụ nữ Việt, trở thành cầu nối thời trang giữa khách hàng và các sản phẩm. Không ngừng đổi mới và phát triển đem đến sự lựa chọn hoàn hảo nhất từ giá cả, chất lượng, thẩm mĩ cho từng sản phẩm tới khách hàng.</p><h2><strong><span style="font-size:large;">Ý nghĩa Logo SABLANCA</span></strong><br></h2><p>&nbsp;“Sablanca” trong tiếng Tây Ban Nha biểu trưng cho sự trẻ trung và sống động, đầy quyến rũ của một cô gái. Ý nghĩa này được thể hiện hoàn hảo trong mỗi gam màu sử dụng trên Logo: xanh bạc hà dịu dàng như sức sống tươi mới của nàng, trắng tinh khôi mang đến cảm giác trong trẻo gợi lên những khởi đầu hoàn hảo và tone đen huyền bí đầy mạnh mẽ toát lên sự bản lĩnh của quý cô thời hiện đại.<br><br>Logo của Sablanca mang thiết kế tinh tế với những nét thanh, nét đậm xen kẽ, hòa trong dáng chữ cao và thon tạo nên sự sang trọng và thời thượng đúng chất, không quá phô trương mà vẫn có thể lột tả vẻ đẹp nữ tính một cách khéo léo.<br><br>Điểm nhấn của Logo nằm ở các ký tự “A” trong Sablanca nhờ sự cách điệu trong đường nét để hấp dẫn ánh nhìn của mọi người tựa như các sản phẩm từ Sablanca sẽ luôn giúp nàng trông nổi bật và ấn tượng. Một bên chân chữ được khoét tròn theo tỉ lệ hoàn hảo không hề làm ảnh hưởng đến tổng thể kiểu chữ, thay vào đó lại làm toát lên sự tỉ mỉ, trau chuốt từng milimet tựa như tinh thần của thương hiệu Sablanca – thiết kế trendy, phá cách nhưng luôn đặt kiểu dáng và chất lượng lên hàng đầu! Toàn bộ Logo của Sablanca gói gọn vào trong chữ “A” với nhiều tầng ý nghĩa:<br><br>-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mang đến sự hài lòng cho khách hàng ở mức A.<br><br>-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Chất lượng sản phẩm trên thị trường luôn đạt hạng A.<br><br>-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nhận diện thương hiệu thời trang luôn ở Top A trong trái tim các cô gái.<br><br>Với những ý nghĩa đó, Logo mang theo thông điệp chân thành từ Sablanca gửi tặng đến khách hàng “Thương hiệu thời trang bắt nhịp xu hướng quốc tế mang lại những sản phẩm túi xách, giày dép và phụ kiện đặc trưng không chỉ sang trọng, hiện đại mà còn đơn giản và chắc chắn trong sử dụng, giúp mỗi cô nàng tự tin tỏa sáng để thành công trên hành trình cuộc sống”.<br><br></p><p style="margin-bottom:10.0pt;line-height:115%;text-autospace:none;"><br></p>
                </div>
            </div>
        </div>

        <div class="detail-left">
        </div>
    </div>
</div>

